.l-item {
  margin: 10px;
  display: flex;
}

.bs-btn {
  background-color: transparent;
  border-color: transparent;
  color: var(--light-blue-gray-600, #475569);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;

  font-style: normal;
  cursor: pointer;
  font-weight: 400;
  line-height: 24px; /* 150% */

  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;

  line-height: 24px; /* 150% */
}

.blueColor {
  color: #0284c7;
  font-weight: bold;
}
