.books-list-con {
  background-color: white;
  padding: 10px;

  height: 85vh;
  display: flex;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  flex-direction: column;
  padding-left: 30px;
  width: 20%;
}

.con {
  position: relative;
  min-height: 100%;
}

.shelves-container {
  padding: 20px;
  height: 89vh;
  background: #e8eaec;
  display: flex;
}

.books-list {
  color: var(--light-blue-gray-700, #334155);
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
}

.books-shelves-search-container {
  padding: 20px;
  overflow: auto;

  min-height: 100%;

  width: 100%;
}

.books-shelves-search-container::-webkit-scrollbar {
  display: none;
}

.search-row {
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
}

.search-book {
  outline: none;
  margin-top: 18px;
  border-color: transparent;
  border-right-color: transparent;
  height: 24px;
}

.un-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-container {
  left: 0;
  right: 0;

  bottom: 0;

  position: absolute;
  text-align: center;
}

.i-btn {
  border-left-color: transparent;
  border-color: transparent;
}
.search-icon-btn {
  cursor: pointer;
}

.heading-book {
  color: var(--light-blue-gray-700, #334155);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
